
.vs/WooliesXCodeTestAzure/DesignTimeBuild/.dtbcache.v2
.vs/WooliesXCodeTestAzure/v16/TestStore/0/000.testlog
WolliesXCodeTest.Test/bin/Debug/netcoreapp3.1/appsettings.Development.json
WolliesXCodeTest.Test/bin/Debug/netcoreapp3.1/appsettings.json
WolliesXCodeTest.Test/bin/Debug/netcoreapp3.1/nunit_random_seed.tmp
WolliesXCodeTest.Test/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
WolliesXCodeTest.Test/bin/Debug/netcoreapp3.1/Properties/ServiceDependencies/WooliesXCodeTestWebAPI20201011202351 - Web Deploy/profile.arm.json
WolliesXCodeTest.Test/bin/Debug/netcoreapp3.1/WooliesXCodeTest.Test.deps.json
WolliesXCodeTest.Test/bin/Debug/netcoreapp3.1/WooliesXCodeTest.Test.runtimeconfig.dev.json
WolliesXCodeTest.Test/bin/Debug/netcoreapp3.1/WooliesXCodeTest.Test.runtimeconfig.json
WolliesXCodeTest.Test/obj/Debug/netcoreapp3.1/WooliesXCodeTest.Test.AssemblyInfo.cs
WolliesXCodeTest.Test/obj/Debug/netcoreapp3.1/WooliesXCodeTest.Test.csproj.CopyComplete
WolliesXCodeTest.Test/obj/Debug/netcoreapp3.1/WooliesXCodeTest.Test.csproj.FileListAbsolute.txt
WolliesXCodeTest.Test/obj/project.assets.json
WolliesXCodeTest.Test/obj/WooliesXCodeTest.Test.csproj.nuget.dgspec.json
.vs/WooliesXCodeTestAzure/v16/TestStore/0/000.testlog
WolliesXCodeTest.Test/bin/Debug/netcoreapp3.1/nunit_random_seed.tmp
WolliesXCodeTest.Test/obj/Debug/netcoreapp3.1/WooliesXCodeTest.Test.csproj.FileListAbsolute.txt
WolliesXCodeTest.Test/obj/project.assets.json
WolliesXCodeTest.Test/obj/WooliesXCodeTest.Test.csproj.nuget.dgspec.json
WooliesXCodeTest.BusinessLogic/bin/Debug/netcoreapp3.0/WooliesXCodeTest.BusinessLogic.deps.json
WooliesXCodeTest.BusinessLogic/obj/Debug/netcoreapp3.0/WooliesXCodeTest.BusinessLogic.AssemblyInfo.cs
WooliesXCodeTest.BusinessLogic/obj/Debug/netcoreapp3.0/WooliesXCodeTest.BusinessLogic.csproj.FileListAbsolute.txt
WooliesXCodeTestWebAPI/bin/Debug/netcoreapp3.0/appsettings.Development.json
WooliesXCodeTestWebAPI/bin/Debug/netcoreapp3.0/appsettings.json
WooliesXCodeTestWebAPI/bin/Debug/netcoreapp3.0/Properties/launchSettings.json
WooliesXCodeTestWebAPI/bin/Debug/netcoreapp3.0/Properties/ServiceDependencies/WooliesXCodeTestWebAPI20201011202351 - Web Deploy/profile.arm.json
WooliesXCodeTestWebAPI/bin/Debug/netcoreapp3.0/WooliesXCodeTestWebAPI.deps.json
WooliesXCodeTest.BusinessLogic/obj/Debug/netcoreapp3.0/WooliesXCodeTest.BusinessLogic.csproj.FileListAbsolute.txt
WooliesXCodeTestWebAPI/bin/Debug/netcoreapp3.0/WooliesXCodeTestWebAPI.runtimeconfig.dev.json
WolliesXCodeTest.Test/obj/project.assets.json
WolliesXCodeTest.Test/obj/Debug/netcoreapp3.1/WooliesXCodeTest.Test.csproj.FileListAbsolute.txt
*.tmp
*.testlog
WolliesXCodeTest.Test/obj/WooliesXCodeTest.Test.csproj.nuget.dgspec.json
WolliesXCodeTest.Test/obj/project.assets.json
WolliesXCodeTest.Test/obj/Debug/netcoreapp3.1/WooliesXCodeTest.Test.csproj.FileListAbsolute.txt
WooliesXCodeTestWebAPI/obj/Debug/netcoreapp3.0/staticwebassets/WooliesXCodeTestWebAPI.StaticWebAssets.xml
.vs/WooliesXCodeTestAzure/v16/TestStore/0/000.testlog
WooliesXCodeTestWebAPI/obj/project.assets.json
WooliesXCodeTestWebAPI/obj/Release/netcoreapp3.0/PubTmp/Out/WooliesXCodeTestWebAPI.deps.json
WooliesXCodeTestWebAPI/obj/Release/netcoreapp3.0/WooliesXCodeTestWebAPI.csproj.FileListAbsolute.txt
WooliesXCodeTestWebAPI/obj/WooliesXCodeTestWebAPI.csproj.nuget.dgspec.json
