<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/6236a4e8-ac2d-4b33-8d8b-4270cf054b72/resourcegroups/WooliesXCodeTestWebAPI20201011202351ResourceGroup/providers/Microsoft.Web/sites/WooliesXCodeTestWebAPI20201011202351</ResourceId>
    <ResourceGroup>WooliesXCodeTestWebAPI20201011202351ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://wooliesxcodetestwebapi20201011202351.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>323f165a-9dce-43eb-9fa7-bf4af1461ece</ProjectGuid>
    <MSDeployServiceURL>wooliesxcodetestwebapi20201011202351.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WooliesXCodeTestWebAPI20201011202351</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WooliesXCodeTestWebAPI20201011202351</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>